In [2]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [13]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query10 = """
SELECT subquery.facid, subquery.name, ROUND(SUM(subquery.memorguesttotal),2) AS revenue 
FROM (SELECT b.facid, f.name,
      CASE WHEN b.memid  > 0
               THEN membercost*slots
               ELSE guestcost*slots
      END AS memorguesttotal
FROM Bookings AS b
INNER JOIN Facilities AS f
ON b.facid = f.facid) AS subquery
GROUP by subquery.facid
HAVING revenue < 1000
ORDER by revenue DESC;


        """
    cur.execute(query10)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(8, 'Pool Table', 270.0)
(7, 'Snooker Table', 240.0)
(3, 'Table Tennis', 180.0)

In [19]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query11 = """
        SELECT m1.surname || ', ' || m1.firstname AS fullname, m2.surname || ', ' || m2.firstname AS reccfullname
        FROM Members as m1
        INNER JOIN Members as m2
        ON m1.recommendedby = m2.memid
        ORDER by fullname
 
        """
    cur.execute(query11)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader, Florence', 'Stibbons, Ponder')
('Baker, Anne', 'Stibbons, Ponder')
('Baker, Timothy', 'Farrell, Jemima')
('Boothe, Tim', 'Rownam, Tim')
('Butters, Gerald', 'Smith, Darren')
('Coplin, Joan', 'Baker, Timothy')
('Crumpet, Erica', 'Smith, Tracy')
('Dare, Nancy', 'Joplette, Janice')
('Genting, Matthew', 'Butters, Gerald')
('Hunt, John', 'Purview, Millicent')
('Jones, David', 'Joplette, Janice')
('Jones, Douglas', 'Jones, David')
('Joplette, Janice', 'Smith, Darren')
('Mackenzie, Anna', 'Smith, Darren')
('Owen, Charles', 'Smith, Darren')
('Pinker, David', 'Farrell, Jemima')
('Purview, Millicent', 'Smith, Tracy')
('Rumney, Henrietta', 'Genting, Matthew')
('Sarwin, Ramnaresh', 'Bader, Florence')
('Smith, Jack', 'Smith, Darren')
('Stibbons, Ponder', 'Tracy, Burton')
('Worthington-Smyth, Henry', 'Smith, Tracy')

In [12]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query12 = """
        SELECT m.firstname, m.surname, f.name, COUNT(b.facid)
        FROM Bookings AS b
        INNER JOIN Facilities AS f
        ON b.facid = f.facid
        INNER JOIN members as m
        ON m.memid = b.memid
        GROUP by m.firstname, m.surname, f.name
        HAVING m.memid > 0
        ORDER by COUNT(b.facid) DESC
        
        """
    cur.execute(query12)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Tim', 'Rownam', 'Pool Table', 241)
('Darren', 'Smith', 'Badminton Court', 132)
('Timothy', 'Baker', 'Pool Table', 85)
('Tim', 'Rownam', 'Massage Room 1', 80)
('Anna', 'Mackenzie', 'Pool Table', 70)
('Tim', 'Rownam', 'Table Tennis', 69)
('Janice', 'Joplette', 'Snooker Table', 68)
('Tracy', 'Smith', 'Pool Table', 61)
('Gerald', 'Butters', 'Tennis Court 1', 57)
('Tim', 'Boothe', 'Tennis Court 2', 52)
('Anne', 'Baker', 'Squash Court', 49)
('Tracy', 'Smith', 'Snooker Table', 45)
('Tim', 'Boothe', 'Snooker Table', 43)
('Florence', 'Bader', 'Table Tennis', 42)
('Charles', 'Owen', 'Tennis Court 2', 41)
('Tim', 'Boothe', 'Massage Room 1', 36)
('Anne', 'Baker', 'Tennis Court 2', 35)
('Burton', 'Tracy', 'Squash Court', 35)
('Gerald', 'Butters', 'Snooker Table', 34)
('Florence', 'Bader', 'Snooker Table', 33)
('Henry', 'Worthington-Smyth', 'Pool Table', 33)
('Gerald', 'Butters', 'Massage Room 1', 32)
('Tracy', 'Smith', 'Badminton Court', 32)
('Burton', 'Tracy', 'Massage Room 1', 31)
('Burton', 'Tracy', 'Tennis Court 1', 31)
('Ponder', 'Stibbons', 'Tennis Court 2', 31)
('Anna', 'Mackenzie', 'Badminton Court', 30)
('Burton', 'Tracy', 'Pool Table', 30)
('David', 'Jones', 'Tennis Court 2', 30)
('Tracy', 'Smith', 'Tennis Court 1', 30)
('Jemima', 'Farrell', 'Massage Room 1', 29)
('Darren', 'Smith', 'Massage Room 1', 28)
('Darren', 'Smith', 'Pool Table', 28)
('Darren', 'Smith', 'Table Tennis', 28)
('Tracy', 'Smith', 'Table Tennis', 28)
('Jack', 'Smith', 'Massage Room 1', 27)
('Janice', 'Joplette', 'Pool Table', 27)
('Matthew', 'Genting', 'Table Tennis', 26)
('David', 'Farrell', 'Pool Table', 25)
('David', 'Jones', 'Tennis Court 1', 25)
('Matthew', 'Genting', 'Massage Room 1', 25)
('Nancy', 'Dare', 'Tennis Court 1', 25)
('Tim', 'Boothe', 'Pool Table', 25)
('Burton', 'Tracy', 'Table Tennis', 24)
('Charles', 'Owen', 'Table Tennis', 24)
('Timothy', 'Baker', 'Massage Room 1', 24)
('Timothy', 'Baker', 'Table Tennis', 24)
('Florence', 'Bader', 'Pool Table', 23)
('Nancy', 'Dare', 'Snooker Table', 23)
('Charles', 'Owen', 'Snooker Table', 22)
('Jack', 'Smith', 'Tennis Court 1', 22)
('Jemima', 'Farrell', 'Snooker Table', 21)
('Joan', 'Coplin', 'Table Tennis', 21)
('Burton', 'Tracy', 'Snooker Table', 20)
('Gerald', 'Butters', 'Badminton Court', 20)
('Ponder', 'Stibbons', 'Snooker Table', 20)
('Darren', 'Smith', 'Tennis Court 2', 19)
('David', 'Jones', 'Massage Room 1', 19)
('Janice', 'Joplette', 'Tennis Court 1', 19)
('Nancy', 'Dare', 'Massage Room 1', 19)
('Nancy', 'Dare', 'Pool Table', 19)
('Ponder', 'Stibbons', 'Massage Room 1', 19)
('Matthew', 'Genting', 'Pool Table', 18)
('Ramnaresh', 'Sarwin', 'Snooker Table', 18)
('Charles', 'Owen', 'Tennis Court 1', 17)
('David', 'Pinker', 'Table Tennis', 17)
('Anna', 'Mackenzie', 'Table Tennis', 16)
('David', 'Pinker', 'Snooker Table', 16)
('David', 'Pinker', 'Tennis Court 1', 16)
('Ponder', 'Stibbons', 'Badminton Court', 16)
('Darren', 'Smith', 'Squash Court', 14)
('Henrietta', 'Rumney', 'Snooker Table', 14)
('Janice', 'Joplette', 'Squash Court', 14)
('Timothy', 'Baker', 'Tennis Court 1', 14)
('Ramnaresh', 'Sarwin', 'Pool Table', 13)
('Anne', 'Baker', 'Pool Table', 12)
('Darren', 'Smith', 'Snooker Table', 12)
('Jack', 'Smith', 'Badminton Court', 12)
('Janice', 'Joplette', 'Massage Room 1', 12)
('Jemima', 'Farrell', 'Table Tennis', 12)
('Ponder', 'Stibbons', 'Pool Table', 12)
('Tim', 'Boothe', 'Badminton Court', 12)
('Tim', 'Boothe', 'Squash Court', 12)
('Charles', 'Owen', 'Massage Room 1', 11)
('David', 'Jones', 'Table Tennis', 11)
('Joan', 'Coplin', 'Pool Table', 11)
('Nancy', 'Dare', 'Tennis Court 2', 11)
('Ramnaresh', 'Sarwin', 'Tennis Court 2', 11)
('Anne', 'Baker', 'Badminton Court', 10)
('Joan', 'Coplin', 'Snooker Table', 10)
('Nancy', 'Dare', 'Badminton Court', 10)
('David', 'Pinker', 'Pool Table', 9)
('Douglas', 'Jones', 'Tennis Court 1', 9)
('Florence', 'Bader', 'Badminton Court', 9)
('Gerald', 'Butters', 'Squash Court', 9)
('Jack', 'Smith', 'Squash Court', 9)
('Janice', 'Joplette', 'Table Tennis', 9)
('David', 'Jones', 'Badminton Court', 8)
('David', 'Jones', 'Pool Table', 8)
('David', 'Jones', 'Squash Court', 8)
('Florence', 'Bader', 'Tennis Court 2', 8)
('Hyacinth', 'Tupperware', 'Pool Table', 8)
('Janice', 'Joplette', 'Tennis Court 2', 8)
('Jemima', 'Farrell', 'Squash Court', 8)
('Ramnaresh', 'Sarwin', 'Massage Room 1', 8)
('Anna', 'Mackenzie', 'Snooker Table', 7)
('Charles', 'Owen', 'Squash Court', 7)
('David', 'Pinker', 'Badminton Court', 7)
('Jack', 'Smith', 'Pool Table', 7)
('Jemima', 'Farrell', 'Badminton Court', 7)
('Joan', 'Coplin', 'Tennis Court 1', 7)
('Ramnaresh', 'Sarwin', 'Badminton Court', 7)
('Timothy', 'Baker', 'Badminton Court', 7)
('Timothy', 'Baker', 'Tennis Court 2', 7)
('Anne', 'Baker', 'Tennis Court 1', 6)
('Charles', 'Owen', 'Badminton Court', 6)
('David', 'Farrell', 'Tennis Court 1', 6)
('Gerald', 'Butters', 'Pool Table', 6)
('Millicent', 'Purview', 'Table Tennis', 6)
('Tim', 'Rownam', 'Tennis Court 1', 6)
('Tim', 'Rownam', 'Tennis Court 2', 6)
('Tracy', 'Smith', 'Massage Room 1', 6)
('Tracy', 'Smith', 'Squash Court', 6)
('Hyacinth', 'Tupperware', 'Snooker Table', 5)
('Jack', 'Smith', 'Snooker Table', 5)
('Jack', 'Smith', 'Table Tennis', 5)
('Millicent', 'Purview', 'Pool Table', 5)
('Nancy', 'Dare', 'Massage Room 2', 5)
('Nancy', 'Dare', 'Table Tennis', 5)
('Ramnaresh', 'Sarwin', 'Tennis Court 1', 5)
('Timothy', 'Baker', 'Squash Court', 5)
('David', 'Jones', 'Massage Room 2', 4)
('Henry', 'Worthington-Smyth', 'Badminton Court', 4)
('John', 'Hunt', 'Tennis Court 1', 4)
('John', 'Hunt', 'Tennis Court 2', 4)
('Tim', 'Boothe', 'Table Tennis', 4)
('Tim', 'Boothe', 'Tennis Court 1', 4)
('Tim', 'Rownam', 'Badminton Court', 4)
('Anne', 'Baker', 'Massage Room 1', 3)
('Burton', 'Tracy', 'Tennis Court 2', 3)
('David', 'Pinker', 'Massage Room 1', 3)
('David', 'Pinker', 'Squash Court', 3)
('Gerald', 'Butters', 'Tennis Court 2', 3)
('Henrietta', 'Rumney', 'Pool Table', 3)
('Henry', 'Worthington-Smyth', 'Table Tennis', 3)
('John', 'Hunt', 'Massage Room 1', 3)
('Ponder', 'Stibbons', 'Table Tennis', 3)
('Ramnaresh', 'Sarwin', 'Massage Room 2', 3)
('Ramnaresh', 'Sarwin', 'Table Tennis', 3)
('Anna', 'Mackenzie', 'Squash Court', 2)
('Anne', 'Baker', 'Massage Room 2', 2)
('Burton', 'Tracy', 'Badminton Court', 2)
('Charles', 'Owen', 'Massage Room 2', 2)
('David', 'Jones', 'Snooker Table', 2)
('Douglas', 'Jones', 'Badminton Court', 2)
('Douglas', 'Jones', 'Pool Table', 2)
('Erica', 'Crumpet', 'Badminton Court', 2)
('Erica', 'Crumpet', 'Massage Room 1', 2)
('Erica', 'Crumpet', 'Table Tennis', 2)
('Florence', 'Bader', 'Massage Room 2', 2)
('Florence', 'Bader', 'Squash Court', 2)
('Henrietta', 'Rumney', 'Squash Court', 2)
('Janice', 'Joplette', 'Massage Room 2', 2)
('Joan', 'Coplin', 'Massage Room 2', 2)
('John', 'Hunt', 'Badminton Court', 2)
('Millicent', 'Purview', 'Badminton Court', 2)
('Ponder', 'Stibbons', 'Squash Court', 2)
('Ramnaresh', 'Sarwin', 'Squash Court', 2)
('Tim', 'Rownam', 'Massage Room 2', 2)
('Tracy', 'Smith', 'Tennis Court 2', 2)
('Anna', 'Mackenzie', 'Massage Room 1', 1)
('Anne', 'Baker', 'Table Tennis', 1)
('Charles', 'Owen', 'Pool Table', 1)
('David', 'Farrell', 'Snooker Table', 1)
('David', 'Farrell', 'Squash Court', 1)
('David', 'Farrell', 'Tennis Court 2', 1)
('Douglas', 'Jones', 'Squash Court', 1)
('Erica', 'Crumpet', 'Tennis Court 1', 1)
('Florence', 'Bader', 'Tennis Court 1', 1)
('Gerald', 'Butters', 'Massage Room 2', 1)
('Gerald', 'Butters', 'Table Tennis', 1)
('Henrietta', 'Rumney', 'Tennis Court 2', 1)
('Henry', 'Worthington-Smyth', 'Massage Room 1', 1)
('Hyacinth', 'Tupperware', 'Badminton Court', 1)
('Hyacinth', 'Tupperware', 'Massage Room 1', 1)
('Hyacinth', 'Tupperware', 'Squash Court', 1)
('Jack', 'Smith', 'Massage Room 2', 1)
('Jack', 'Smith', 'Tennis Court 2', 1)
('Jemima', 'Farrell', 'Pool Table', 1)
('Jemima', 'Farrell', 'Tennis Court 1', 1)
('Jemima', 'Farrell', 'Tennis Court 2', 1)
('Joan', 'Coplin', 'Massage Room 1', 1)
('Joan', 'Coplin', 'Squash Court', 1)
('John', 'Hunt', 'Squash Court', 1)
('John', 'Hunt', 'Table Tennis', 1)
('Matthew', 'Genting', 'Massage Room 2', 1)
('Matthew', 'Genting', 'Snooker Table', 1)
('Matthew', 'Genting', 'Tennis Court 1', 1)
('Millicent', 'Purview', 'Snooker Table', 1)
('Millicent', 'Purview', 'Squash Court', 1)
('Millicent', 'Purview', 'Tennis Court 2', 1)
('Ponder', 'Stibbons', 'Tennis Court 1', 1)

In [9]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query13 = """
       SELECT f.name, strftime('%m', b.starttime) AS month, COUNT(b.slots) AS count
        FROM Bookings AS b
        INNER JOIN Facilities AS f
        ON b.facid = f.facid
        WHERE b.memid > 0
        GROUP by f.name, month
        ORDER by month 
        """
    cur.execute(query13)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', '07', 51)
('Massage Room 1', '07', 77)
('Massage Room 2', '07', 4)
('Pool Table', '07', 103)
('Snooker Table', '07', 68)
('Squash Court', '07', 23)
('Table Tennis', '07', 48)
('Tennis Court 1', '07', 65)
('Tennis Court 2', '07', 41)
('Badminton Court', '08', 132)
('Massage Room 1', '08', 153)
('Massage Room 2', '08', 9)
('Pool Table', '08', 272)
('Snooker Table', '08', 154)
('Squash Court', '08', 85)
('Table Tennis', '08', 143)
('Tennis Court 1', '08', 111)
('Tennis Court 2', '08', 109)
('Badminton Court', '09', 161)
('Massage Room 1', '09', 191)
('Massage Room 2', '09', 14)
('Pool Table', '09', 408)
('Snooker Table', '09', 199)
('Squash Court', '09', 87)
('Table Tennis', '09', 194)
('Tennis Court 1', '09', 132)
('Tennis Court 2', '09', 126)